<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">

    <!-- Add DAOs here -->
    <bean id="userDao" class="org.sonya.user.dao.ibatis.UserDaoiBatis">
        <property name="dataSource" ref="dataSource"/>
        <property name="sqlMapClient" ref="sqlMapClient"/>
    </bean>
    
    <!-- Add Managers here -->
	<bean id="userManager" class="org.sonya.user.service.impl.UserManagerImpl">
	    <constructor-arg ref="userDao"/>
	</bean>    
    
</beans>