
/* ----- FIELDS AND LABELS ----- */
label.desc { 
}

input, textarea {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1em;
	color: #000000;
}

input.text, input.number, input.url, input.email, input.password, input.file,
textarea.textarea, select.select{
	font-family: Arial, Helvetica, sans-serif;
	color: #000000;
	font-size: 1em;
}

/* ----- SIZES ----- */
form .small{
    width: 70px;
}

form .medium{
    width: 170px;
}

form .large, form textarea.textarea{
    width: 349px;
}

form textarea.small{
    height: 5.5em;
}

form textarea.medium{
    height: 10em;
}

form textarea.large{
    height: 20em;
}

/* ----- Buttons ----- */
input.button, button {
    width: 6em;
    padding: 2px 2px 0 0; /* fix for IE */
}

/* revert to normal for Firefox */
li>input.button, li>button, input.button>input.button, button>button {
    padding: 2px;
}

/* ----- ERRORS ----- */
form li.error{
    background-color: #FFDFDF;
    margin: 3px 0 !important;
}

input.error, textarea.error{
    background: #FFCA7A;
}

p.error, li.error label.desc{
    color: red !important;
}

p.error{
    font-size: 9px !important;
    margin: 1px 0;
}

/* ----- REQUIRED ----- */
.req {
    font-size: 1em !important;
    color: #f90;
    font-weight: bold;
}

/* ----- Fieldsets ----- */
fieldset {
    margin: 0 0 5px 0;
    padding: 10px 10px 5px 10px;
    color: #444;
    border: 1px solid #ccc;
}

legend{
    font-weight: bold;
    color: #444;
}
