<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.nhn.socialbuzz.me2day.dao.CommentMapper">

	<resultMap id="commentResultMap" type="com.nhn.socialbuzz.me2day.model.Comment">
		<id property="postId" column="post_id" />
		<result property="programId" column="program_id" />
		<result property="commentId" column="comment_id" />
		<result property="authorId" column="author_id" />
		<result property="authorNickname" column="author_nickname" />
		<result property="body" column="body" />
		<result property="textBody" column="text_body" />
		<result property="publishDate" column="publish_date" />
		<result property="authorProfileImage" column="author_profile_image" />
		<result property="authorMe2dayHome" column="author_me2day_home" />
		<result property="liwcNegation" column="liwc_negation" />
		<result property="liwcQuantifier" column="liwc_quantifier" />
		<result property="liwcSwear" column="liwc_swear" />
		<result property="liwcQmark" column="liwc_qmark" />
		<result property="liwcExclam" column="liwc_exclam" />
		<result property="liwcSmile" column="liwc_smile" />
		<result property="liwcCry" column="liwc_cry" />
		<result property="liwcLove" column="liwc_love" />
		<result property="liwcPositive" column="liwc_positive" />
		<result property="liwcNegative" column="liwc_negative" />
		<result property="liwcAnger" column="liwc_anger" />
		<result property="liwcAnxiety" column="liwc_anxiety" />
		<result property="liwcSadness" column="liwc_sadness" />
		<result property="registerDate" column="register_date" />
		<result property="updateDate" column="update_date" />
	</resultMap>

	<select id="selectComments" parameterType="com.nhn.socialbuzz.me2day.model.Comment" resultMap="commentResultMap">
		SELECT *
		FROM comment
		WHERE 1 = 1
		<if test="postId != null">
			AND post_id = #{postId}
		</if>
		<if test="programId != null">
		AND post_id IN (
		SELECT post_id FROM post
		WHERE program_id = #{programId}
		</if>
		<if test="publishStartDate != null">
			AND publish_date &gt;= #{publishStartDate}
		</if>
		<if test="publishEndDate != null">
			AND publish_date &lt;= #{publishEndDate}
		</if>
		)
	</select>

	<insert id="insertComment" parameterType="com.nhn.socialbuzz.me2day.model.Comment">
		INSERT INTO comment (
			post_id
			, comment_id
			, author_id
			, author_nickname
			, body
			, text_body
			, publish_date
			, author_profile_image
			, author_me2day_home
			, liwc_negation
			, liwc_quantifier
			, liwc_swear
			, liwc_qmark
			, liwc_exclam
			, liwc_smile
			, liwc_cry
			, liwc_love
			, liwc_positive
			, liwc_negative
			, liwc_anger
			, liwc_anxiety
			, liwc_sadness
			, register_date
			, update_date		
		)
		VALUES (
			#{postId}
			, #{commentId}
			, #{authorId}
			, #{authorNickname}
			, #{body}
			, #{textBody}
			, #{publishDate}
			, #{authorProfileImage}
			, #{authorMe2dayHome}
			, #{liwcNegation,javaType=double,jdbcType=DOUBLE}
			, #{liwcQuantifier,javaType=double,jdbcType=DOUBLE}
			, #{liwcSwear,javaType=double,jdbcType=DOUBLE}
			, #{liwcQmark,javaType=double,jdbcType=DOUBLE}
			, #{liwcExclam,javaType=double,jdbcType=DOUBLE}
			, #{liwcSmile,javaType=double,jdbcType=DOUBLE}
			, #{liwcCry,javaType=double,jdbcType=DOUBLE}
			, #{liwcLove,javaType=double,jdbcType=DOUBLE}
			, #{liwcPositive,javaType=double,jdbcType=DOUBLE}
			, #{liwcNegative,javaType=double,jdbcType=DOUBLE}
			, #{liwcAnger,javaType=double,jdbcType=DOUBLE}
			, #{liwcAnxiety,javaType=double,jdbcType=DOUBLE}
			, #{liwcSadness,javaType=double,jdbcType=DOUBLE}
			, NOW()
			, NOW()
		)
	</insert>

	<delete id="deleteComments" parameterType="com.nhn.socialbuzz.me2day.model.Comment">
		DELETE FROM comment
		WHERE post_id = #{postId}
	</delete>

</mapper>