/*
Typography
*/

body {
	margin: 30px 0;
	padding: 0;
	font: normal small "Trebuchet MS", Arial, Dotum, µ¸¿ò, Helvetica, sans-serif;
	color: black;
	/* color: #999999; */
	/* color: #333333; */
}

h1, h2, h3 {
	text-transform: uppercase;
	color: black;
	/* color: #666666; */
}

h2 {
	font-size: 1.2em;
}

h3 {
	margin: 0;
	font-size: .875em;
}

p, blockquote, ul, ol {
	margin-top: 0;
	line-height: 180%;
	text-align: justify;
}

a {
	color: #A5B80D;
}

a:hover {
	text-decoration: none;
	color: #FF6000;
}

img {
	border: none;
}
