/* A CSS Framework by Mike Stenhouse of Content with Style */

/* SITE SPECIFIC LAYOUT */
    body {
        margin: 0;
        padding: 0;
        
        background: white;
              
        text-align: center;
    }
    div#page {
        width: 1120px;
        
        margin:  0 auto;
        padding: 0;
        
        background: white;
        text-align: center;
    }
    
    /* HEADER */

        div#header {
            height: 70px;
            /*margin: 0 0 0 0;*/
                         
            color: #262626;
            background: #EEF3E6; 
            
            text-align: left;
        }

        div#branding {
            float: left;
             
            margin: 20px 0 0 20px;            
            text-align: left;
            background: url(images/twitter_48.png) no-repeat left center;
        }
	        div#branding h1 {
				color: #33CCFF;
				margin: 0;
				margin: 20px 0 0 60px;
				text-transform: none;
				font-size: 14px;
			}
		
        div#search {
            float: right;
            width: 49%;
            
            margin: 0;
            padding: 16px 20px 0 0;
            
            text-align: right;
        }
    /* END HEADER */
    
    
    /* CONTENT */
        div#content {
        }
        
        /* MAIN */
            div#main {
        		background: #EEF3E6;            
            	padding: 10px 10px 10px 10px;
            	text-align: center;                
            }
        /* END MAIN */

    /* END CONTENT */
    
    
    /* FOOTER */
        div#footer {
            color: #262626;
            background-color: #EEF3E6;
            padding: 5px 0 5px 0;
            font-size: 0.8em;
        }
        div#footer p {
            font-size: 0.8em;
            
            margin: 0;
            padding: 15px;
        }
    /* END FOOTER */
/* END LAYOUT */


