<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
    version="2.5">

	<!-- Servlets -->
	<servlet>
        <servlet-name>socialgraph</servlet-name>
        <servlet-class>com.beeblz.webapp.web.FacebookSocialGraphServlet</servlet-class>
    </servlet>
	<servlet>
        <servlet-name>fbauth</servlet-name>
        <servlet-class>com.beeblz.webapp.web.FacebookOAuthServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sample</servlet-name>
        <servlet-class>com.beeblz.webapp.web.SampleServlet</servlet-class>
    </servlet>

	<servlet-mapping>
        <servlet-name>socialgraph</servlet-name>
        <url-pattern>/socialgraph/*</url-pattern>
    </servlet-mapping>
	<servlet-mapping>
        <servlet-name>fbauth</servlet-name>
        <url-pattern>/fbauth/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sample</servlet-name>
        <url-pattern>/sample</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>