<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.nhn.socialbuzz.twitter.dao.TweetMapper">

	<resultMap id="tweetResultMap" type="com.nhn.socialbuzz.twitter.model.Tweet">
		<id property="tweetId" column="tweet_id" />
		<result property="programId" column="program_id" />
		<result property="user" column="user" />
		<result property="userNo" column="user_no" />
		<result property="tweetText" column="tweet_text" />
		<result property="createDate" column="create_date" />
		<result property="location" column="location" />
		<result property="profileImage" column="profile_image" />
		<result property="liwcNegation" column="liwc_negation" />
		<result property="liwcQuantifier" column="liwc_quantifier" />
		<result property="liwcSwear" column="liwc_swear" />
		<result property="liwcQmark" column="liwc_qmark" />
		<result property="liwcExclam" column="liwc_exclam" />
		<result property="liwcSmile" column="liwc_smile" />
		<result property="liwcCry" column="liwc_cry" />
		<result property="liwcLove" column="liwc_love" />
		<result property="liwcPositive" column="liwc_positive" />
		<result property="liwcNegative" column="liwc_negative" />
		<result property="liwcAnger" column="liwc_anger" />
		<result property="liwcAnxiety" column="liwc_anxiety" />
		<result property="liwcSadness" column="liwc_sadness" />
		<result property="registerDate" column="register_date" />
		<result property="updateDate" column="update_date" />
	</resultMap>

	<select id="selectTweets" parameterType="com.nhn.socialbuzz.twitter.model.Tweet" resultMap="tweetResultMap">
		SELECT *
		FROM tweet
		WHERE 1 = 1
		<if test="tweetId != null">
			AND tweet_id = #{tweetId}
		</if>
		<if test="programId != null">
			AND program_id = #{programId}
		</if>
		<if test="createStartDate != null">
			AND create_date &gt;= #{createStartDate}
		</if>
		<if test="createEndDate != null">
			AND create_date &lt;= #{createEndDate}
		</if>
	</select>

	<insert id="insertTweet" parameterType="com.nhn.socialbuzz.twitter.model.Tweet">
		INSERT INTO tweet (
			tweet_id
			, program_id
			, user
			, user_no
			, tweet_text
			, create_date
			, location
			, profile_image
			, liwc_negation
			, liwc_quantifier
			, liwc_swear
			, liwc_qmark
			, liwc_exclam
			, liwc_smile
			, liwc_cry
			, liwc_love
			, liwc_positive
			, liwc_negative
			, liwc_anger
			, liwc_anxiety
			, liwc_sadness
			, register_date
			, update_date		
		)
		VALUES (
			#{tweetId}
			, #{programId}
			, #{user}
			, #{userNo}
			, #{tweetText}
			, #{createDate}
			, #{location}
			, #{profileImage}
			, #{liwcNegation,javaType=double,jdbcType=DOUBLE}
			, #{liwcQuantifier,javaType=double,jdbcType=DOUBLE}
			, #{liwcSwear,javaType=double,jdbcType=DOUBLE}
			, #{liwcQmark,javaType=double,jdbcType=DOUBLE}
			, #{liwcExclam,javaType=double,jdbcType=DOUBLE}
			, #{liwcSmile,javaType=double,jdbcType=DOUBLE}
			, #{liwcCry,javaType=double,jdbcType=DOUBLE}
			, #{liwcLove,javaType=double,jdbcType=DOUBLE}
			, #{liwcPositive,javaType=double,jdbcType=DOUBLE}
			, #{liwcNegative,javaType=double,jdbcType=DOUBLE}
			, #{liwcAnger,javaType=double,jdbcType=DOUBLE}
			, #{liwcAnxiety,javaType=double,jdbcType=DOUBLE}
			, #{liwcSadness,javaType=double,jdbcType=DOUBLE}
			, NOW()
			, NOW()
		)
	</insert>
	
	<update id="updateTweet" parameterType="com.nhn.socialbuzz.twitter.model.Tweet">
		UPDATE tweet
		<set>
			<if test="user != null">user = #{user},</if>
			<if test="userNo != null">user_no = #{userNo},</if>
			<if test="tweetText != null">tweet_text = #{tweetText},</if>
			<if test="createDate != null">create_date = #{createDate},</if>
			<if test="location != null">location = #{location},</if>
			<if test="profileImage != null">profile_image = #{profileImage},</if>
			<if test="liwcNegation != 0">liwc_negation = #{liwcNegation},</if>
			<if test="liwcQuantifier != 0">liwc_quantifier = #{liwcQuantifier},</if>
			<if test="liwcSwear != 0">liwc_swear = #{liwcSwear},</if>
			<if test="liwcQmark != 0">liwc_qmark = #{liwcQmark},</if>
			<if test="liwcExclam != 0">liwc_exclam = #{liwcExclam},</if>
			<if test="liwcSmile != 0">liwc_smile = #{liwcSmile},</if>
			<if test="liwcCry != 0">liwc_cry = #{liwcCry},</if>
			<if test="liwcLove != 0">liwc_love = #{liwcLove},</if>
			<if test="liwcPositive != 0">liwc_positive = #{liwcPositive},</if>
			<if test="liwcNegative != 0">liwc_negative = #{liwcNegative},</if>
			<if test="liwcAnger != 0">liwc_anger = #{liwcAnger},</if>
			<if test="liwcAnxiety != 0">liwc_anxiety = #{liwcAnxiety},</if>
			<if test="liwcSadness != 0">liwc_sadness = #{liwcSadness},</if>
			update_date = NOW()
		</set>			
		WHERE
			tweet_id = #{tweetId}
	</update>

</mapper>