<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" 
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="org.firebird.io.dao.EdgeMapper">

	<resultMap id="edgeResultMap" type="org.firebird.io.model.Edge">
		<id property="websiteId1" column="website_id1" />
		<result property="websiteId1" column="website_id1" />
		<result property="websiteId2" column="website_id2" />
		<result property="vertex1" column="vertex1" />
		<result property="vertex2" column="vertex2" />
		<result property="vertexNo1" column="vertex_no1" />
		<result property="vertexNo2" column="vertex_no2" />
		<result property="color" column="color" />
		<result property="width" column="width" />
		<result property="opacity" column="opacity" />
		<result property="directed" column="is_directed" />
		<result property="relationship" column="relationship" />
		<result property="edgeWeight" column="edge_weight" />
		<result property="betweennessCentrality" column="betweenness_centrality" />
		<result property="replyCount" column="reply_count" />
		<result property="dmCount" column="dm_count" />
		<result property="referCount" column="refer_count" />
		<result property="lastReplyDate" column="last_reply_date" />
		<result property="lastDmDate" column="last_dm_date" />
		<result property="lastReferDate" column="last_refer_date" />
		<result property="createDate" column="create_date" />
		<result property="lastUpdateDate" column="last_update_date" />
		<result property="colCreateDate" column="col_create_date" />
		<result property="colLastUpdateDate" column="col_last_update_date" />
	</resultMap>

	<select id="selectEdges" parameterType="org.firebird.io.model.Edge" resultMap="edgeResultMap">
		SELECT
		*
		FROM edge
		WHERE
			website_id1 = #{websiteId1}
			AND website_id2 = #{websiteId2}
	</select>

	<insert id="insertEdge" parameterType="org.firebird.io.model.Edge">
		INSERT INTO edge (
			  website_id1
			, website_id2
			, vertex1
			, vertex2
			, vertex_no1
			, vertex_no2
			, color
			, width
			, opacity
			, is_directed
			, relationship
			, edge_weight
			, betweenness_centrality
			, reply_count
			, dm_count
			, refer_count
			, last_reply_date
			, last_dm_date
			, last_refer_date
			, create_date
			, last_update_date
			, col_create_date
			, col_last_update_date			 
		)
		VALUES (
			  #{websiteId1}
			, #{websiteId2}
			, #{vertex1}
			, #{vertex2}
			, #{vertexNo1,javaType=int,jdbcType=NUMERIC}
			, #{vertexNo2,javaType=int,jdbcType=NUMERIC}
			, #{color,jdbcType=VARCHAR}
			, #{width,javaType=int,jdbcType=NUMERIC}
			, #{opacity,javaType=int,jdbcType=NUMERIC}
			, #{directed,javaType=boolean,jdbcType=BOOLEAN}
			, #{relationship,jdbcType=CHAR}
			, #{edgeWeight,javaType=double,jdbcType=DOUBLE}
			, #{betweennessCentrality,javaType=double,jdbcType=DOUBLE}
			, #{replyCount,javaType=int,jdbcType=NUMERIC}
			, #{dmCount,javaType=int,jdbcType=NUMERIC}
			, #{referCount,javaType=int,jdbcType=NUMERIC}
			, #{lastReplyDate,jdbcType=DATE}
			, #{lastDmDate,jdbcType=DATE}
			, #{lastReferDate,jdbcType=DATE}
			, #{createDate,jdbcType=DATE}
			, #{lastUpdateDate,jdbcType=DATE}
			, NOW()
			, NOW()	
		)
	</insert>

	<delete id="deleteEdge" parameterType="org.firebird.io.model.Edge">
		DELETE FROM edge
		WHERE
		<if test="websiteId1 != null">
			website_id1 = #{websiteId1}
		</if>
		<if test="websiteId2 != null">
			AND website_id2 = #{websiteId2}
		</if>
		<if test="vertex1 != null">
			AND vertex1 = #{vertex1}
		</if>
		<if test="vertex2 != null">
			AND vertex2 = #{vertex2}
		</if>
	</delete>
	
	<update id="updateEdgeScore" parameterType="org.firebird.io.model.Edge">
		UPDATE edge SET
			  betweenness_centrality = #{betweennessCentrality}
		WHERE
			website_id1 = #{websiteId1}
			AND website_id2 = #{websiteId2}
			AND vertex1 = #{vertex1}
			AND vertex2 = #{vertex2}
	</update>
	
	<!-- For Topic Clustering -->
	<select id="selectFollowingEdge" parameterType="org.firebird.io.model.Edge" resultMap="edgeResultMap">
		SELECT *
		FROM edge
		WHERE vertex1 = #{vertex1} AND vertex2 = #{vertex2} AND relationship = 1
	</select>
	
</mapper>