<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" 
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="org.firebird.io.dao.UserBlogEntryMapper">

	<resultMap id="userBlogEntryResultMap" type="org.firebird.io.model.UserBlogEntry">
		<id property="websiteId" column="website_id" />
		<result property="websiteId" column="website_id" />
		<result property="userId" column="user_id" />
		<result property="blogEntryId" column="blog_entry_id" />
		<result property="userNo" column="user_no" />
		<result property="title" column="title" />
		<result property="body" column="body" />
		<result property="sourceWebsiteId" column="source_website_id" />
		<result property="blogEntryType" column="blog_entry_type" />
		<result property="permaLinkUrl" column="permalink_url" />
		<result property="userLinkUrl" column="user_link_url" />
		<result property="replyTo" column="replyTo" />
		<result property="dmTo" column="dm_to" />
		<result property="referFrom" column="refer_from" />
		<result property="createDate" column="create_date" />
		<result property="lastUpdateDate" column="last_update_date" />
		<result property="colCreateDate" column="col_create_date" />
		<result property="colLastUpdateDate" column="col_last_update_date" />
	</resultMap>
	
	<select id="selectDistinctUsers" parameterType="int" resultType="java.lang.String">
		SELECT DISTINCT user_id
		FROM user_blog_entry
		WHERE website_id = #{websiteId}
	</select>
		
	<select id="selectUserBlogEntries" parameterType="org.firebird.io.model.UserBlogEntry" resultMap="userBlogEntryResultMap">
		SELECT *
		FROM user_blog_entry
		WHERE website_id = #{websiteId}
			AND user_id = #{userId}
		ORDER BY create_date DESC
	</select>
		
	<insert id="insertUserBlogEntry" parameterType="org.firebird.io.model.UserBlogEntry">
		INSERT INTO user_blog_entry (
			website_id
			, user_id
			, blog_entry_id
			, user_no
			, title
			, body
			, source_website_id
			, blog_entry_type
			, permalink_url
			, user_link_url
			, reply_to
			, dm_to
			, refer_from
			, create_date
			, last_update_date
			, col_create_date
			, col_last_update_date			 
		)
		VALUES (
			#{websiteId}
			, #{userId}
			, #{blogEntryId}
			, #{userNo,javaType=int,jdbcType=NUMERIC}
			, #{title,jdbcType=VARCHAR}
			, #{body,jdbcType=VARCHAR}
			, #{sourceWebsiteId,javaType=int,jdbcType=NUMERIC}
			, #{blogEntryType,jdbcType=CHAR}
			, #{permaLinkUrl,jdbcType=VARCHAR}
			, #{userLinkUrl,jdbcType=VARCHAR}
			, #{replyTo,jdbcType=VARCHAR}
			, #{dmTo,jdbcType=VARCHAR}
			, #{referFrom,jdbcType=VARCHAR}
			, #{createDate,jdbcType=DATE}
			, #{lastUpdateDate,jdbcType=DATE}
			, NOW()
			, NOW()	
		)
	</insert>

	<delete id="deleteUserBlogEntry" parameterType="org.firebird.io.model.UserBlogEntry">
		DELETE FROM user_blog_entry
		WHERE
		<if test="websiteId != null">
			website_id = #{websiteId}
		</if>
		<if test="userId != null">
			AND user_id = #{userId}
		</if>
		<if test="blogEntryId != null">
			AND blog_entry_id = #{blogEntryId}
		</if>
	</delete>

</mapper>