<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.beeblz.twitter.io.dao.RelationshipMapper">

	<resultMap id="relationshipResultMap" type="com.beeblz.twitter.io.model.Relationship">
		<id property="id1" column="id1" />
		<result property="id2" column="id2" />
		<result property="userNo1" column="user_no1" />
		<result property="userNo2" column="user_no2" />
		<result property="isFollowedByUser2" column="is_followed_by_user2" />
		<result property="retweetedCountByUser2" column="retweeted_count_by_user2" />
		<result property="mentionedCountByUser2" column="mentioned_count_by_user2" />
		<result property="replyedCountByUser2" column="replyed_count_by_user2" />
		<result property="positiveAttitudeCountByUser2" column="positive_attitude_count_by_user2" />
		<result property="negativeAttitudeCountByUser2" column="negative_attitude_count_by_user2" />
		<result property="colCreateDate" column="col_create_date" />
		<result property="colUpdateDate" column="col_update_date" />
	</resultMap>
	
	<select id="selectRelationships" parameterType="com.beeblz.twitter.io.model.Relationship" resultMap="relationshipResultMap">
		SELECT *
		FROM relationship
		WHERE 1 = 1
		<if test="id1 != null">
			AND id1 = #{id1}
		</if>
		<if test="id2 != null">
			AND id2 = #{id2}
		</if>
	</select>

	<insert id="insertRelationship" parameterType="com.beeblz.twitter.io.model.Relationship">
		INSERT INTO relationship (
			id1
			, id2
			, user_no1
			, user_no2
			, is_followed_by_user2
			, retweeted_count_by_user2
			, mentioned_count_by_user2
			, replyed_count_by_user2
			, positive_attitude_count_by_user2
			, negative_attitude_count_by_user2
			, col_create_date
			, col_update_date
		)
		VALUES (
			#{id1}
			, #{id2}
			, #{userNo1,javaType=long,jdbcType=NUMERIC}
			, #{userNo2,javaType=long,jdbcType=NUMERIC}
			, #{isFollowedByUser2,javaType=boolean,jdbcType=BOOLEAN}
			, #{retweetedCountByUser2,javaType=int,jdbcType=NUMERIC}
			, #{mentionedCountByUser2,javaType=int,jdbcType=NUMERIC}
			, #{replyedCountByUser2,javaType=int,jdbcType=NUMERIC}
			, #{positiveAttitudeCountByUser2,javaType=int,jdbcType=NUMERIC}
			, #{negativeAttitudeCountByUser2,javaType=int,jdbcType=NUMERIC}
			, NOW()
			, NOW()
		)
	</insert>

	<update id="updateRelationship" parameterType="com.beeblz.twitter.io.model.Relationship">
		UPDATE relationship
		<set>
			<if test="userNo1 != 0">user_no1 = #{userNo1},</if>
			<if test="userNo2 != 0">user_no1 = #{userNo2},</if>
			<if test="isFollowedByUser2 != null">is_followed_by_user2 = IFNULL(is_followed_by_user2, 0) + #{isFollowedByUser2},</if>
			<if test="retweetedCountByUser2 != 0">retweeted_count_by_user2 = IFNULL(retweeted_count_by_user2, 0) + #{retweetedCountByUser2},</if>
			<if test="mentionedCountByUser2 != 0">mentioned_count_by_user2 = IFNULL(mentioned_count_by_user2, 0) + #{mentionedCountByUser2},</if>
			<if test="replyedCountByUser2 != 0">replyed_count_by_user2 = IFNULL(replyed_count_by_user2, 0) + #{replyedCountByUser2},</if>
			<if test="positiveAttitudeCountByUser2 != 0">positive_attitude_count_by_user2 = IFNULL(positive_attitude_count_by_user2, 0) + #{positiveAttitudeCountByUser2},</if>
			<if test="negativeAttitudeCountByUser2 != 0">negative_attitude_count_by_user2 = IFNULL(negative_attitude_count_by_user2, 0) + #{negativeAttitudeCountByUser2},</if>
			col_update_date = NOW()
		</set>			
		WHERE
			id1 = #{id1} AND id2 = #{id2}
	</update>

</mapper>