/* layout */
body {
    margin: 0;
    padding: 0;
}
div#page {
    width: 95%;
    margin: 0 auto;
    padding: 0;
}
    
/* header */
div#header {
	padding-right: 5px; 
    padding-left: 5px; 
    padding-bottom: 5px; 
    padding-top: 5px; 
	text-align: left;
	height: 50px;
	background: white url(images/background.gif) top left repeat-x;
}

div#header .top {    
    float: right;
}
div#header .branding {
    float: left;
    padding-top: 10px;
    padding-right: 10px;
}
div#header .center {
    float: center;
    color: white;
    padding-top: 8px;
    padding-right: 10px;
}

   
/* content */
div#content {
}
body#error #content {
    margin-top: 20px;
}
div#main {
    margin-bottom: 10px;
    padding-left: 0px;    
}
   
/* footer */
div#footer {
	float: center;
	padding-right: 5px; 
    padding-left: 5px; 
    padding-bottom: 5px; 
    padding-top: 5px; 
	border-top: #ffffff 1px solid; 
	border-bottom: #ffffff 1px solid; 
	background: #e5ecf9;
	/* background: #3C7FAF; */
	text-align: center;
}

