<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" 
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="org.firebird.io.dao.DictionaryMapper">

	<resultMap id="dictionaryResultMap" type="org.firebird.analyzer.topic.Dictionary">
		<id property="seq" column="seq" />
		<result property="websiteId" column="website_id" />
		<result property="seq" column="seq" />
		<result property="term" column="term" />
		<result property="df" column="df" />
		<result property="createDate" column="create_date" />
		<result property="lastUpdateDate" column="last_update_date" />
	</resultMap>

	<select id="selectTerm" parameterType="org.firebird.analyzer.topic.Dictionary" resultMap="dictionaryResultMap">
		SELECT *
		FROM term_dictionary
		WHERE website_id = #{websiteId} AND term = #{term}
	</select>
	
	<insert id="insertTerm" parameterType="org.firebird.analyzer.topic.Dictionary">
		INSERT INTO term_dictionary (
			  website_id
			, seq
			, term
			, df
			, create_date
			, last_update_date 
		)
		VALUES (
			  #{websiteId,javaType=int,jdbcType=NUMERIC}
			, #{seq,javaType=int,jdbcType=NUMERIC}
			, #{term,jdbcType=VARCHAR}
			, #{df,javaType=int,jdbcType=NUMERIC}
			, NOW()
			, NOW()	
		)
	</insert>

	<delete id="deleteDictionary" parameterType="int">
		DELETE FROM term_dictionary
		WHERE website_id = #{websiteId}
	</delete>
	
</mapper>