<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" 
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="org.firebird.io.dao.TopicTermMapper">

	<resultMap id="topicTermResultMap" type="org.firebird.analyzer.topic.TopicTerm">
		<id property="topicId" column="topic_id" />
		<result property="topicId" column="topic_id" />
		<result property="term" column="term" />
		<result property="score" column="score" />
		<result property="createDate" column="create_date" />
		<result property="lastUpdateDate" column="last_update_date" />
	</resultMap>

	<select id="selectTopics" resultType="int">
		SELECT topic_id
		FROM topic_term
		ORDER BY topic_id ASC
	</select>
	
	<select id="selectTerms" parameterType="int" resultMap="topicTermResultMap">
		SELECT *
		FROM topic_term
		WHERE topic_id = #{topicId}
		ORDER BY score DESC
	</select>
	
	<insert id="insertTerm" parameterType="org.firebird.analyzer.topic.TopicTerm">
		INSERT INTO topic_term (
			  topic_id
			, term
			, score
			, create_date
			, last_update_date 
		)
		VALUES (
			  #{topicId,javaType=int,jdbcType=NUMERIC}
			, #{term,jdbcType=VARCHAR}
			, #{score,javaType=double,jdbcType=DOUBLE}
			, NOW()
			, NOW()	
		)
	</insert>

	<delete id="deleteTopics">
		DELETE FROM topic_term
	</delete>

</mapper>