<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" 
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="org.firebird.io.dao.TopicUserMapper">

	<resultMap id="topicUserResultMap" type="org.firebird.io.model.TopicUser">
		<id property="topicId" column="topic_id" />
		<result property="websiteId" column="website_id" />
		<result property="topicId" column="topic_id" />
		<result property="userId" column="user_id" />
		<result property="userName" column="user_name" />
		<result property="userProfileImage" column="image_file" />
		<result property="userUrl" column="user_url" />
		<result property="userMatchTermsCount" column="match_terms_count" />
		<result property="score" column="score" />
		<result property="topicTermsString" column="topic_terms" />
		<result property="userMatchTermsString" column="user_match_terms" />
		<result property="createDate" column="create_date" />
		<result property="lastUpdateDate" column="last_update_date" />
	</resultMap>

	<select id="selectUsers" parameterType="org.firebird.io.model.TopicUser" resultMap="topicUserResultMap">
		SELECT a.*, b.user_name, b.image_file, b.user_url
		FROM topic_user a, vertex b
		WHERE a.website_id = b.website_id AND
			  a.user_id = b.vertex_id AND 
			  a.website_id = #{websiteId} AND 
			  a.topic_id = #{topicId}
		ORDER BY a.score DESC
		<if test="topUserNum != null">
			LIMIT #{topUserNum}
		</if>
	</select>

	<insert id="insertUser" parameterType="org.firebird.io.model.TopicUser">
		INSERT INTO topic_user (
			  website_id
			, topic_id
			, user_id
			, match_terms_count
			, score
			, topic_terms
			, user_match_terms
			, create_date
			, last_update_date 
		)
		VALUES (
			  #{websiteId,javaType=int,jdbcType=NUMERIC}
			, #{topicId,javaType=int,jdbcType=NUMERIC}
			, #{userId,jdbcType=VARCHAR}
			, #{userMatchTermsCount,javaType=int,jdbcType=NUMERIC}
			, #{score,javaType=float,jdbcType=FLOAT}
			, #{topicTermsString,jdbcType=VARCHAR}
			, #{userMatchTermsString,jdbcType=VARCHAR}
			, NOW()
			, NOW()	
		)
	</insert>

	<delete id="deleteUsers" parameterType="int">
		DELETE FROM topic_user
		WHERE website_id = #{websiteId}
	</delete>
	
	<!-- For Topic Clustering -->
	
	<select id="selectUsersInEdgeBetweennessCluster" parameterType="org.firebird.io.model.TopicUser" resultMap="topicUserResultMap">
		SELECT * 
		FROM topic_user
		WHERE website_id = #{websiteId}
			AND topic_id = #{topicId}
			AND score >= #{score}
			AND EXISTS (
				SELECT user_id FROM vertex 
				WHERE website_id = #{websiteId} AND 
					edge_betweenness_cluster = #{cluster} AND
					topic_user.user_id = vertex.vertex_id)
		ORDER BY score DESC
		<if test="topUserNum != null">
			LIMIT #{topUserNum}
		</if>
	</select>	

	<select id="selectUsersInVoltageCluster" parameterType="org.firebird.io.model.TopicUser" resultMap="topicUserResultMap">
		SELECT * 
		FROM topic_user
		WHERE website_id = #{websiteId}
			AND topic_id = #{topicId}
			AND score >= #{score}
			AND EXISTS (
				SELECT user_id FROM vertex 
				WHERE website_id = #{websiteId} AND 
					voltage_cluster = #{cluster} AND
					topic_user.user_id = vertex.vertex_id)
		ORDER BY score DESC
		<if test="topUserNum != null">
			LIMIT #{topUserNum}
		</if>
	</select>	

</mapper>