<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.beeblz.twitter.io.dao.TweetMentionedUserMapper">

	<resultMap id="tweetMentionedUserResultMap" type="com.beeblz.twitter.io.model.TweetMentionedUser">
		<id property="id" column="id" />
		<result property="user" column="user" />
		<result property="mentionedUser" column="mentioned_user" />
		<result property="userNo" column="user_no" />
		<result property="isTarget" column="is_target" />
		<result property="colCreateDate" column="col_create_date" />
		<result property="colUpdateDate" column="col_update_date" />
	</resultMap>

	<select id="selectTweetMentionedUsers" parameterType="com.beeblz.twitter.io.model.TweetMentionedUser" resultMap="tweetMentionedUserResultMap">
		SELECT *
		FROM tweet_mentioned_user
		WHERE 1 = 1
		<if test="id != null">
			AND id = #{id}
		</if>
	</select>

	<insert id="insertTweetMentionedUser" parameterType="com.beeblz.twitter.io.model.TweetMentionedUser">
		INSERT INTO tweet_mentioned_user (
			id
			, user
			, mentioned_user
			, user_no
			, is_target
			, col_create_date
			, col_update_date
		)
		VALUES (
			#{id,javaType=long,jdbcType=NUMERIC}
			, #{user}
			, #{mentionedUser}
			, #{userNo,javaType=long,jdbcType=NUMERIC}
			, #{isTarget,javaType=boolean,jdbcType=BOOLEAN}
			, NOW()
			, NOW()
		)
	</insert>
	
</mapper>