<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.beeblz.twitter.io.dao.TweetMapper">

	<resultMap id="tweetResultMap" type="com.beeblz.twitter.io.model.Tweet">
		<id property="id" column="id" />
		<result property="user" column="user" />
		<result property="userNo" column="user_no" />
		<result property="text" column="tweet_text" />
		<result property="url" column="url" />
		<result property="tweetType" column="tweet_type" />
		<result property="targetUser" column="target_user" />
		<result property="replyUser" column="reply_user" />
		<result property="replyUserNo" column="reply_user_no" />
		<result property="retweetedUser" column="retweeted_user" />
		<result property="mentionedUser" column="mentioned_user" />
		<result property="mentionedUsers" column="mentioned_users" />
		<result property="positiveAttitude" column="positive_attitude" />
		<result property="negativeAttitude" column="negative_attitude" />
		<result property="createDate" column="create_date" />
		<result property="colCreateDate" column="col_create_date" />
		<result property="colUpdateDate" column="col_update_date" />
	</resultMap>

	<select id="selectTweets" parameterType="com.beeblz.twitter.io.model.Tweet" resultMap="tweetResultMap">
		SELECT *
		FROM tweet
		WHERE 1 = 1
		<if test="id != null">
			AND id = #{id}
		</if>
	</select>

	<insert id="insertTweet" parameterType="com.beeblz.twitter.io.model.Tweet">
		INSERT INTO tweet (
			id
			, user
			, user_no
			, tweet_text
			, url
			, tweet_type
			, target_user
			, reply_user
			, reply_user_no
			, retweeted_user
			, mentioned_user
			, mentioned_users
			, positive_attitude
			, negative_attitude
			, create_date
			, col_create_date
			, col_update_date
		)
		VALUES (
			#{id,javaType=long,jdbcType=NUMERIC}
			, #{user}
			, #{userNo,javaType=long,jdbcType=NUMERIC}
			, #{text}
			, #{url}
			, #{tweetType}
			, #{targetUser}
			, #{replyUser}
			, #{replyUserNo,javaType=long,jdbcType=NUMERIC}
			, #{retweetedUser}
			, #{mentionedUser}
			, #{mentionedUsers}
			, #{positiveAttitude,javaType=boolean,jdbcType=BOOLEAN}
			, #{negativeAttitude,javaType=boolean,jdbcType=BOOLEAN}
			, #{createDate,jdbcType=DATE}
			, NOW()
			, NOW()
		)
	</insert>
	
	<update id="updateTweet" parameterType="com.beeblz.twitter.io.model.Tweet">
		UPDATE tweet
		<set>
			<if test="positiveAttitude != null">positive_attitude = #{positiveAttitude},</if>
			<if test="negativeAttitude != null">negative_attitude = #{negativeAttitude},</if>
			col_update_date = NOW()
		</set>
		WHERE
			id = #{id}
	</update>	

</mapper>