<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.beeblz.twitter.io.dao.UserMapper">

	<resultMap id="userResultMap" type="com.beeblz.twitter.io.model.User">
		<id property="id" column="id" />
		<result property="userNo" column="user_no" />
		<result property="name" column="name" />
		<result property="location" column="location" />
		<result property="profileImageUrl" column="profile_image_url" />
		<result property="followersCount" column="followers_count" />
		<result property="friendsCount" column="friends_count" />
		<result property="tweetsCount" column="tweets_count" />
		<result property="isTarget" column="is_target" />
		<result property="colCreateDate" column="col_create_date" />
		<result property="colUpdateDate" column="col_update_date" />
	</resultMap>

	<select id="selectUsers" parameterType="com.beeblz.twitter.io.model.User" resultMap="userResultMap">
		SELECT *
		FROM user
		WHERE 1 = 1
		<if test="id != null">
			AND id = #{id}
		</if>
		<if test="authority != null">
			AND is_target >= #{isTarget,javaType=boolean,jdbcType=BOOLEAN}
		</if>
	</select>

	<insert id="insertUser" parameterType="com.beeblz.twitter.io.model.User">
		INSERT INTO user (
			id
			, user_no
			, name
			, location
			, profile_image_url
			, followers_count
			, friends_count
			, tweets_count
			, is_target
			, col_create_date
			, col_update_date
		)
		VALUES (
			#{id}
			, #{userNo,javaType=long,jdbcType=NUMERIC}
			, #{name}
			, #{location}
			, #{profileImageUrl}
			, #{followersCount,javaType=int,jdbcType=NUMERIC}
			, #{friendsCount,javaType=int,jdbcType=NUMERIC}
			, #{tweetsCount,javaType=int,jdbcType=NUMERIC}
			, #{isTarget,javaType=boolean,jdbcType=BOOLEAN}
			, NOW()
			, NOW()
		)
	</insert>
	
	<update id="updateUser" parameterType="com.beeblz.twitter.io.model.User">
		UPDATE user
		<set>
			<if test="name != null">name = #{name},</if>
			<if test="location != null">location = #{location},</if>
			<if test="profileImageUrl != null">profile_image_url = #{profileImageUrl},</if>
			<if test="followersCount != 0">followers_count = #{followersCount},</if>
			<if test="friendsCount != 0">friends_count = #{friendsCount},</if>
			<if test="tweetsCount != 0">tweets_count = #{tweetsCount},</if>
			<if test="isTarget != null">is_target = #{isTarget},</if>
			col_update_date = NOW()
		</set>
		WHERE
			id = #{id}
	</update>

</mapper>