<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.nhn.socialbuzz.me2day.dao.PostMapper">

	<resultMap id="postResultMap" type="com.nhn.socialbuzz.me2day.model.Post">
		<id property="postId" column="post_id" />
		<result property="programId" column="program_id" />
		<result property="permalink" column="permalink" />
		<result property="body" column="body" />
		<result property="textBody" column="text_body" />
		<result property="icon" column="icon" />
		<result property="tagText" column="tag_text" />
		<result property="me2dayPage" column="me2day_page" />
		<result property="publishDate" column="publish_date" />
		<result property="commentCount" column="comment_count" />
		<result property="metooCount" column="metoo_count" />
		<result property="iconUrl" column="icon_url" />
		<result property="callbackUrl" column="callback_url" />
		<result property="authorId" column="author_id" />
		<result property="authorNickname" column="author_nickname" />
		<result property="authorProfileImage" column="author_profile_image" />
		<result property="authorMe2dayHome" column="author_me2day_home" />
		<result property="authorLocation" column="author_location" />
		<result property="liwcNegation" column="liwc_negation" />
		<result property="liwcQuantifier" column="liwc_quantifier" />
		<result property="liwcSwear" column="liwc_swear" />
		<result property="liwcQmark" column="liwc_qmark" />
		<result property="liwcExclam" column="liwc_exclam" />
		<result property="liwcSmile" column="liwc_smile" />
		<result property="liwcCry" column="liwc_cry" />
		<result property="liwcLove" column="liwc_love" />
		<result property="liwcPositive" column="liwc_positive" />
		<result property="liwcNegative" column="liwc_negative" />
		<result property="liwcAnger" column="liwc_anger" />
		<result property="liwcAnxiety" column="liwc_anxiety" />
		<result property="liwcSadness" column="liwc_sadness" />
		<result property="registerDate" column="register_date" />
		<result property="updateDate" column="update_date" />
	</resultMap>

	<select id="selectPosts" parameterType="com.nhn.socialbuzz.me2day.model.Post" resultMap="postResultMap">
		SELECT *
		FROM post
		WHERE 1 = 1
		<if test="postId != null">
			AND post_id = #{postId}
		</if>
		<if test="programId != null">
			AND program_id = #{programId}
		</if>
		<if test="publishStartDate != null">
			AND publish_date &gt;= #{publishStartDate}
		</if>
		<if test="publishEndDate != null">
			AND publish_date &lt;= #{publishEndDate}
		</if>
	</select>

	<insert id="insertPost" parameterType="com.nhn.socialbuzz.me2day.model.Post">
		INSERT INTO post (
			post_id
			, program_id
			, permalink
			, body
			, text_body
			, icon
			, tag_text
			, me2day_page
			, publish_date
			, comment_count
			, metoo_count
			, icon_url
			, callback_url
			, author_id
			, author_nickname
			, author_profile_image
			, author_me2day_home
			, author_location
			, liwc_negation
			, liwc_quantifier
			, liwc_swear
			, liwc_qmark
			, liwc_exclam
			, liwc_smile
			, liwc_cry
			, liwc_love
			, liwc_positive
			, liwc_negative
			, liwc_anger
			, liwc_anxiety
			, liwc_sadness
			, register_date
			, update_date		
		)
		VALUES (
			#{postId}
			, #{programId}
			, #{permalink}
			, #{body}
			, #{textBody}
			, #{icon}
			, #{tagText}
			, #{me2dayPage}
			, #{publishDate}
			, #{commentCount,javaType=int,jdbcType=NUMERIC}
			, #{metooCount,javaType=int,jdbcType=NUMERIC}
			, #{iconUrl}
			, #{callbackUrl}
			, #{authorId}
			, #{authorNickname}
			, #{authorProfileImage}
			, #{authorMe2dayHome}
			, #{authorLocation}
			, #{liwcNegation,javaType=double,jdbcType=DOUBLE}
			, #{liwcQuantifier,javaType=double,jdbcType=DOUBLE}
			, #{liwcSwear,javaType=double,jdbcType=DOUBLE}
			, #{liwcQmark,javaType=double,jdbcType=DOUBLE}
			, #{liwcExclam,javaType=double,jdbcType=DOUBLE}
			, #{liwcSmile,javaType=double,jdbcType=DOUBLE}
			, #{liwcCry,javaType=double,jdbcType=DOUBLE}
			, #{liwcLove,javaType=double,jdbcType=DOUBLE}
			, #{liwcPositive,javaType=double,jdbcType=DOUBLE}
			, #{liwcNegative,javaType=double,jdbcType=DOUBLE}
			, #{liwcAnger,javaType=double,jdbcType=DOUBLE}
			, #{liwcAnxiety,javaType=double,jdbcType=DOUBLE}
			, #{liwcSadness,javaType=double,jdbcType=DOUBLE}
			, NOW()
			, NOW()
		)
	</insert>
	
	<update id="updatePost" parameterType="com.nhn.socialbuzz.me2day.model.Post">
		UPDATE post
		<set>
			<if test="permalink != null">permalink = #{permalink},</if>
			<if test="body != null">body = #{body},</if>
			<if test="textBody != null">text_body = #{textBody},</if>
			<if test="icon != null">icon = #{icon},</if>
			<if test="tagText != null">tag_text = #{tagText},</if>
			<if test="me2dayPage != null">me2day_page = #{me2dayPage},</if>
			<if test="publishDate != null">publish_date = #{publishDate},</if>
			<if test="commentCount != 0">comment_count = #{commentCount},</if>
			<if test="metooCount != 0">metoo_count = #{metooCount},</if>
			<if test="iconUrl != null">icon_url = #{iconUrl},</if>
			<if test="callbackUrl != null">callback_url = #{callbackUrl},</if>
			<if test="authorId != null">author_id = #{authorId},</if>
			<if test="authorNickname != null">author_nickname = #{authorNickname},</if>
			<if test="authorProfileImage != null">author_profile_image = #{authorProfileImage},</if>
			<if test="authorMe2dayHome != null">author_me2day_home = #{authorMe2dayHome},</if>
			<if test="authorLocation != null">author_location = #{authorLocation},</if>
			<if test="liwcNegation != 0">liwc_negation = #{liwcNegation},</if>
			<if test="liwcQuantifier != 0">liwc_quantifier = #{liwcQuantifier},</if>
			<if test="liwcSwear != 0">liwc_swear = #{liwcSwear},</if>
			<if test="liwcQmark != 0">liwc_qmark = #{liwcQmark},</if>
			<if test="liwcExclam != 0">liwc_exclam = #{liwcExclam},</if>
			<if test="liwcSmile != 0">liwc_smile = #{liwcSmile},</if>
			<if test="liwcCry != 0">liwc_cry = #{liwcCry},</if>
			<if test="liwcLove != 0">liwc_love = #{liwcLove},</if>
			<if test="liwcPositive != 0">liwc_positive = #{liwcPositive},</if>
			<if test="liwcNegative != 0">liwc_negative = #{liwcNegative},</if>
			<if test="liwcAnger != 0">liwc_anger = #{liwcAnger},</if>
			<if test="liwcAnxiety != 0">liwc_anxiety = #{liwcAnxiety},</if>
			<if test="liwcSadness != 0">liwc_sadness = #{liwcSadness},</if>
			update_date = NOW()
		</set>			
		WHERE
			post_id = #{postId}
	</update>

</mapper>